.content-container {
  background-image: url("../../../assets/auth.jpg");

  overflow: hidden;
  padding: 5px 5px;
  max-width: 1000px;
  align-items: flex-start;
  margin: 0 auto;
  height: 100%;

  .schedule-container{
    padding: 20px;
  }

  .schedule-table {
    width: 100%;
    margin-top: 4px;
    background-color: #fbfbfb;

    border-collapse: collapse;
    vertical-align: top;
    max-width: 100%;

    overflow-x: auto;

    // optional - looks better for small cell values
    white-space: nowrap;
    border-spacing: 0;

    tr{
      width: 100%;
      padding: 6px 12px;
      border: 1px solid #d9d7ce;
      font-size: 20px;
      text-align: left;
    }

    th {
      padding: 6px 12px;
      border: 1px solid #d9d7ce;
      font-size: 20px;
      text-align: center;
    }

    .row {
      cursor: pointer;

      transition: border linear 2s;

      td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
        font-size: 20px;

      }

    }

    .row:hover {
      border-left-color: var(--mainblue);
      border-right-color: var(--mainblue);
    }

  }

}
