<app-navigation-student></app-navigation-student>
<div class="content-container">
  <div class="schedule-container">
    <table class="schedule-table">
      <tr>
        <th>Время</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
      </tr>
        <tr *ngFor="let s of schedule">
          <td *ngIf="s.classNumber == 1">8:00</td>
          <td *ngIf="s.classNumber == 2">9:50</td>
          <td *ngIf="s.classNumber == 3">11:40</td>
          <td *ngIf="s.classNumber == 4">13:50</td>
          <td *ngIf="s.week == 1">{{s.subjectDto}} {{s.lecturerDto.surname}} {{s.auditoryDto.auditoryNumber}}</td>
        </tr>
    </table>
  </div>
</div>
