<div class="content-container">
  <fieldset class="clearfix">
    <div class="text">Зайти как</div>
    <div class="wrapper">
      <div class="box1">
      </div>
      <div class="box2">
      </div>
      <div class="box3">
      </div>
      <div class="box4">
          <button [routerLink]="'/auth/student'">Студент</button>
      </div>
      <div class="box5">
          <button [routerLink]="'/auth/lecturer'">Преподаватель</button>
      </div>
      <div class="box6">
          <button [routerLink]="'/auth/admin'">Декан</button>
      </div>
    </div>
  </fieldset>
</div>
