<div class="content-container">
<div class="topnav">

  <a [routerLink]="'/feed/student'" routerLinkActive="active" >Я</a>
  <a [routerLink]="'/group'" routerLinkActive="active">Список группы</a>
  <a [routerLink]="'/schedule'" routerLinkActive="active">Расписание</a>
  <a [routerLink]="'/presence'" routerLinkActive="active">Пропуски</a>
  <a [routerLink]="'/gradebook'" routerLinkActive="active">Зачётка</a>
  <a class="exit" [routerLink]="'/home'" routerLinkActive="active">Выйти</a>

</div>
</div>
