.content-container {
  width: 100%;

  display: flex;
  align-items: flex-start;
  max-width: 1280px;
  min-height: calc(100vh - 50px);
  background-image: url("../assets/auth.jpg");

  margin: 50px auto 0 auto;


  animation: appear .2s;

  .content {

    background-image: url("../assets/auth.jpg");
    width: 100%;
  }
}
