<div class="auth-container">
  <div id="login">
    <form class="auth-form" (ngSubmit)="authenticate()">
      <fieldset class="clearfix">
        <div class="text">Вход</div>
        <input type="text" placeholder="Номер зачётки" [(ngModel)]="authStudent.gradebookNumber" name="gradebookNumber">
        <input type="password" placeholder="Пароль" [(ngModel)]="authStudent.password" name="password">
        <div class="register-hint">
          <div class="text">Еще не зарегистрированы?</div>
          <a [routerLink]="'/register/student'">Регистрация</a>
        </div>
        <button type="submit">Войти</button>
      </fieldset>
    </form>
  </div>
</div>


