  <div class="auth-container">
    <div id="login">
      <form action="javascript:void(0);" method="get" (ngSubmit)="authenticate()" >
        <fieldset class="clearfix">
          <div class="text">Вход</div>
          <p><span class="fontawesome-user"></span>
            <input type="text" placeholder="Номер зачётки" [(ngModel)]="authStudent.gradebookNumber" name="gradebookNumber"></p>
          <p><span class="fontawesome-lock"></span>
            <input type="password" placeholder="password" [(ngModel)]="authStudent.password" name="password">
          </p>
          <p><input type="submit" value="ВОЙТИ"></p>
          <p> Нет аккаунта? Регистрация</p>

        </fieldset>
      </form>
    </div>
  </div>

