<app-navigation-student></app-navigation-student>
<div class="content-container">
  <div class="gradebook-container">
  <table class="gradebook-table">
    <tr>
      <th>Семестр</th>
      <th>Год</th>
      <th>Предмет</th>
      <th>Оценка</th>
    </tr>
    <tr class="row" >
      <td>1</td>
      <td>2017/2018</td>
      <td>АЛОЦВМ</td>
      <td>6</td>
    </tr>
    <tr class="row" >
      <td>1</td>
      <td>2017/2018</td>
      <td>ОАиП</td>
      <td>9</td>
    </tr>
    <tr class="row" >
      <td>1</td>
      <td>2017/2018</td>
      <td>Математичка ты довольна!?!??!!?!?</td>
      <td>8</td>
    </tr>
    <tr class="row" >
      <td>1</td>
      <td>2017/2018</td>
      <td>ОИТ</td>
      <td>6</td>
    </tr>
  </table>
</div>
</div>
