.content-container {
  background-image: url("../../../assets/auth.jpg");
  min-height: calc(100vh - 50px);
  overflow: hidden;
  padding: 5px 5px;
  align-items: flex-start;
  margin: 0 auto;
  font-family: Garamond, monospace;
  text-align: center;
  font-size: 20px;

  .group-container{
    padding: 10px;
    height: 100%;
    text-align: center;
  }
  .group-form{
    input {
      border: 1px solid #2e2328;
      border-radius: 4px;
      padding: 10px;
      width: 20%;
      margin: 10px;

    }

    .clearfix { *zoom: 2;
      margin: 0 auto;
      width: 80%;
      background: whitesmoke;
      align-items: flex-start;
      -webkit-border-radius: 10px;
      .text{
        color: var(--dark);
        font-family: Garamond, monospace;
      }
      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: auto;
        margin-right: auto;
        min-width: 10px;

      }
      .box2 {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: auto;
        margin-right: auto;
        min-width: 10px;

      }
      .box3 {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  button {
    background-color: rgba(178, 149, 166, 0.96);
    align-self: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 10px;
    font-size: 20px;
    cursor:pointer;
    width: 200px;
    height: 50px;
    font-family: Garamond, monospace;
    margin: 1%;
    padding: 10px;
  }

  .group-table {
    margin: 0 auto;
    width: 80%;
    margin-top: 4px;
    background-color: #fbfbfb;
    border-collapse: collapse;
    vertical-align: top;
    max-width: 100%;
    table-layout: fixed;
    overflow-x: auto;

    .num{
      width: auto;
    }

    .name{
      width: 32%;
    }

    // optional - looks better for small cell values
    white-space: nowrap;
    border-spacing: 0;


    th {
      padding: 6px 12px;
      border: 1px solid #d9d7ce;
      font-size: 20px;
      text-align: left;
    }

    .row {
      cursor: pointer;

      transition: border linear 2s;

      td {
        text-align: left;
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
        font-size: 20px;

        .input {
          width: 85%;
          height: 100%;
        }
      }
    }

    tr.active {
      background: #9c6ea6;
    }

    .headman{
      background: rgba(255, 65, 144, 0.75);
    }

    .row:hover{
      background-color: rgba(178, 149, 166, 0.73);

    }

    .row:hover {
      border-left-color: var(--mainblue);
      border-right-color: var(--mainblue);
    }

  }

}
