<app-navigation-lecturer></app-navigation-lecturer>
<div class="content-container">
  <div class="schedule-container">
    <form class="schedule-form" (ngSubmit)="getSchedule()">
      <fieldset class="clearfix">
        <div class="wrapper">
          <div class="box1">
            Курс:
            <input type="text" [(ngModel)]="expectedGroup.course" name="course">
          </div>
          <div class="box2">
            Группа:
            <input type="text" [(ngModel)]="expectedGroup.group" name="group">
          </div>
          <div class="box3">
            <button>Посмотреть </button>
          </div>
        </div>
      </fieldset>
        <table *ngIf="received" class="schedule-table">
          <tr>
            <th></th>
            <th>Время</th>
            <th>Предмет</th>
            <th>Преподаватель</th>
            <th>Аудитория</th>
            <th>Корпус</th>
          </tr>
          <tr>
            <td class="day" [rowSpan]="monday.length + 1">Пн</td>
          </tr>
          <tr class="row" *ngFor="let s of monday">
            <td >{{time[s.classNumber]}}</td>
            <td>{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
          </tr>
          <tr>
            <td class="day" [rowSpan]="tuesday.length + 1">Вт</td>
          </tr>
          <tr class="row" *ngFor="let s of tuesday">
            <td >{{time[s.classNumber]}}</td>
            <td >{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
          </tr>
          <tr>
            <td class="day" [rowSpan]="wednesday.length + 1">Ср</td>
          </tr>
          <tr class="row" *ngFor="let s of wednesday">
            <td>{{time[s.classNumber]}}</td>
            <td>{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
          </tr>
          <tr>
            <td class="day" [rowSpan]="thursday.length + 1">Чт</td>
          </tr>
          <tr class="row" *ngFor="let s of thursday">
            <td>{{time[s.classNumber]}}</td>
            <td>{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
          </tr>
          <tr>
            <td class="day" [rowSpan]="friday.length + 1"> Пт</td>
          </tr>
          <tr class="row" *ngFor="let s of friday">
            <td>{{time[s.classNumber]}}</td>
            <td>{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
          </tr>
          <tr>
            <td class="day" [rowSpan]="saturday.length + 1"> Сб</td>
          </tr>
          <tr class="row" *ngFor="let s of saturday">
            <td>{{time[s.classNumber]}}</td>
            <td>{{s.subject.name}}</td>
            <td>{{s.lecturer.surname}} {{s.lecturer.name}} {{s.lecturer.patronymic}} </td>
            <td>{{s.auditory.auditoryNumber}}</td>
            <td>{{s.auditory.corpus.number}}</td>
         </tr>
        </table>
    </form>
  </div>
</div>


